@CHARSET "ISO-8859-1";

/* ini :: Cuerpo */
#cuerpo {
	width: 400px;
	margin: 50px auto 0 auto;
	padding: 10px;
	border: 2px solid #aaaaaa;
	min-height: 300px;
	max-height: 500px;
	border: none;
}

#pBotones {
	text-align: center;
}

#pDespedida {
	text-align: justify;
}

#pVolver {
	text-align: center;
}
/* fin :: Cuerpo */

